  <footer class="site-footer">
    <p>© 2026 Burrito Rumbero</p>
  </footer>

  <!-- ============ MASCOT ============ -->
  <div class="mascot" id="mascot">
    <img src="{{ root }}assets/rep1.png" alt="">
  </div>

  <script src="{{ root }}js/script.js"></script>
  <script src="{{ root }}js/router.js"></script>
